{% from "project/_prepare.py.jinja" import prepare_bot %}
{% from "script/_entrypoint.py.jinja" import get_entrypoints %}

{{ prepare_bot(adapters, builtin_plugins) }}

{{ get_entrypoints() }}

if __name__ == "__main__":
    for e in entrypoints:
        if e.name == {{ script_name|repr }}:
            e.load()()
            break
