[tool.poetry]
name = "nb-cli"
version = "0.6.6"
description = "CLI for nonebot2"
authors = ["yanyongyu <yanyongyu_1@126.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://v2.nonebot.dev/"
repository = "https://github.com/nonebot/nb-cli"
keywords = ["bot", "qq", "nonebot"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Framework :: Robot Framework",
  "Framework :: Robot Framework :: Library",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3"
]

[tool.poetry.dependencies]
python = "^3.7.3"
click = "^8.0.0"
tomlkit = "^0.9.0"
wcwidth = "^0.2.5"
colorama = "^0.4.3"
pyfiglet = "^0.8.post1"
cookiecutter = "^1.7.2"
httpx = ">=0.18.0, <1.0.0"
prompt-toolkit = "^3.0.19"
nonebot2 = "^2.0.0-beta.1"
docker-compose = { version = "~1.29.2", optional = true }

[tool.poetry.dev-dependencies]
isort = "^5.10.1"
black = "^21.10b0"
nonebot2 = { git = "https://github.com/nonebot/nonebot2", branch = "dev" }

[tool.poetry.extras]
deploy = ["docker-compose"]
docker = ["docker-compose"]

[tool.poetry.scripts]
nb = "nb_cli.__main__:main"

# [[tool.poetry.source]]
# name = "aliyun"
# url = "https://mirrors.aliyun.com/pypi/simple/"
# default = true

[tool.pyright]
reportPrivateImportUsage = false

[tool.black]
line-length = 80
extend-exclude = '''
^/nb_cli/project/
^/nb_cli/plugin/
^/nb_cli/adapter/
'''

[tool.isort]
profile = "black"
line_length = 80
length_sort = true
skip_gitignore = true
extend_skip = ["nb_cli/project/", "nb_cli/plugin/", "nb_cli/adapter/"]

force_sort_within_sections = true
extra_standard_library = "typing_extensions"
known_local_folder = "nb_cli"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
