[project]
name = "nb-cli"
version = "1.2.9"
description = "CLI for nonebot2"
authors = [{ name = "yanyongyu", email = "yyy@nonebot.dev" }]
license = { text = "MIT" }
readme = "README.md"
keywords = ["bot", "qq", "nonebot", "bot", "qq", "nonebot"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Framework :: Robot Framework",
  "Framework :: Robot Framework :: Library",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3",
]

requires-python = ">=3.9, <4.0"
dependencies = [
  "click ~=8.1",
  "anyio ~=3.6",
  "httpx ~=0.18",
  "jinja2 ~=3.0",
  "cashews ~=6.0",
  "wcwidth ~=0.2",
  "tomlkit ~=0.10",
  "pydantic ~=1.9",
  "watchfiles ~=0.16",
  "cookiecutter ~=2.2",
  "virtualenv ~=20.21",
  "typing-extensions ~=4.4",
  "pyfiglet >=1.0.1, <2.0.0",
  "noneprompt >=0.1.9, <1.0.0",
  "importlib-metadata >=4.6; python_version < '3.10'",
]

[project.urls]
homepage = "https://cli.nonebot.dev/"
repository = "https://github.com/nonebot/nb-cli"

[tool.pdm.dev-dependencies]
i18n = ["babel ~=2.11"]
dev = [
  "ruff ~=0.1.0",
  "isort ~=5.10",
  "black >=22.3.0",
  "nonemoji ~=0.1",
  "pre-commit ~=3.1",
  "importlib-metadata",
]
docs = ["nb-autodoc >=1.0.0a5"]

[tool.pdm.scripts]
autodoc = { shell = "rm -rf ./website/docs/api/* && nb-autodoc nb_cli -s nb_cli.template && cp -r ./build/nb_cli/* ./website/docs/api/" }
extract = "pybabel extract -o messages.pot --project nb-cli --version 1.0.0 nb_cli/"
_init = "pybabel init -D nb-cli -i messages.pot -d nb_cli/locale/ -l {args}"
init = { composite = ["extract", "_init {args}"] }
_update = "pybabel update -D nb-cli -i messages.pot -d nb_cli/locale/"
update = { composite = ["extract", "_update"] }
compile = "pybabel compile -D nb-cli -d nb_cli/locale/"

[project.scripts]
nb = "nb_cli.__main__:main"

[tool.pdm.build]
custom-hook = "pdm_build.py"
run-setuptools = false

[tool.pyright]
pythonPlatform = "All"
reportPrivateImportUsage = false
reportShadowedImports = false
executionEnvironments = [
  { root = "./website", pythonVersion = "3.10" },
  { root = "./", pythonVersion = "3.9" },
]

[tool.black]
line-length = 88
extend-exclude = '''
^nb_cli/template/
'''

[tool.isort]
profile = "black"
line_length = 88
length_sort = true
skip_gitignore = true
force_sort_within_sections = true
extra_standard_library = ["typing_extensions"]
extend_skip = ["nb_cli/template/"]

[tool.ruff]
select = ["E", "W", "F", "UP", "C", "T", "PT", "Q"]
ignore = ["E402", "C901", "UP037"]
extend-exclude = ["nb_cli/template/"]

line-length = 88
target-version = "py38"

[build-system]
requires = ["pdm-backend", "babel~=2.11"]
build-backend = "pdm.backend"
