[tool.poetry]
name = "nb-cli"
version = "0.6.7"
description = "CLI for nonebot2"
authors = ["yanyongyu <yyy@nonebot.dev>"]
license = "MIT"
readme = "README.md"
homepage = "https://v2.nonebot.dev/"
repository = "https://github.com/nonebot/nb-cli"
keywords = ["bot", "qq", "nonebot"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Framework :: Robot Framework",
  "Framework :: Robot Framework :: Library",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3"
]

[tool.poetry.dependencies]
python = "^3.7.3"
click = "^8.0.0"
jinja2 = "^3.0.0"
wcwidth = "^0.2.5"
tomlkit = "^0.10.0"
pydantic = "^1.9.1"
noneprompt = "^0.1.4"
watchfiles = "^0.16.1"
pyfiglet = "^0.8.post1"
cookiecutter = "^1.7.2"
httpx = ">=0.18.0, <1.0.0"

[tool.poetry.group.dev.dependencies]
isort = "^5.10.1"
black = "^22.3.0"
nonemoji = "^0.1.2"
pre-commit = "^2.18.1"
nb-autodoc = { git = "https://github.com/nonebot/nb-autodoc.git" }

[tool.poetry.scripts]
nb = "nb_cli.__main__:cli"

[tool.pyright]
reportPrivateImportUsage = false
reportShadowedImports = false

[tool.black]
line-length = 80
extend-exclude = '''
^nb_cli/project/
^nb_cli/plugin/
^nb_cli/adapter/
'''

[tool.isort]
profile = "black"
line_length = 80
length_sort = true
skip_gitignore = true
force_sort_within_sections = true
extra_standard_library = ["typing_extensions"]
extend_skip = ["nb_cli/project/", "nb_cli/plugin/", "nb_cli/adapter/"]

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
